.loader-container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
    z-index: 1000;
}

.hand-arrow {
    transition: all .3s ease-in;
    animation: animate 5s ease-in-out infinite;
}

.factory-icon {
    position: absolute;
    top: -25%;
    right: 0;

    img {
        width: 100px;
    }
}
@media (max-width: 500px){
    .hand-arrow>img{

        width: 200px;
    }
    .factory-icon{
        position: absolute;
        top: -46%;
        right: -27px;
    }
}
.instructions {
    margin-top: 20px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 18px;
    color: #333;
    /* text-align: center; */
}

@keyframes animate {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);

    }

    100% {
        transform: translateY(0px);

    }
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}